$baseFontFamily: Nova Square;
@import url(http://fonts.googleapis.com/css?family=Nova+Square);

$btnInverseBackground: green;
$navbarBackgroundHighlight: white;
$navbarBackground: white;

@import 'bootstrap';

body {
	padding-top: 60x;
}

@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}

.footer {
	margin-top: 50px;
	color: $grayLight;
}
a {	color: $gray;

}
